/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap";

/* app/assets/stylesheets/application.scss */

/* ヘッダーの背景色を再設定 */
.navbar {
    background-color: #17a2b8 !important;
    /* MobanetNaviの配色を維持 */
    /* ヘッダー背景色 */
}

.navbar-brand,
.nav-link {
    color: white !important;
    /* ナビゲーションリンクの色 */
}

.navbar-nav .nav-link:hover {
    color: #adb5bd !important;
    /* リンクホバー時の色 */
}


.btn-primary,
.btn-success,
.btn-danger {
    background-color: #17a2b8;
    /* MobanetNaviの配色 */
    color: #fff;
    /* テキストを白色に */
    border-color: #17a2b8;
    /* 枠線も同じ色 */
}

.btn-primary:hover,
.btn-success:hover,
.btn-danger:hover {
    background-color: #138f9c;
    /* ホバー時に少し暗めに */
    border-color: #138f9c;
    /* ホバー時の枠線も変更 */
    color: #fff;
    /* ホバー時も白色テキスト */
}

/* 新規プラン作成ボタンもMobanetNaviと同じ配色にする */
.btn.btn-success {
    background-color: #17a2b8;
    border-color: #17a2b8;
}

.btn.btn-success:hover {
    background-color: #138f9c;
    border-color: #138f9c;
}


 body {
    margin: 0;
    padding-top: 70px;
    /* グローバルナビゲーションの高さ分 */
}

.navbar-nav .nav-link {
    margin-right: 15px;
    /* リンク間のスペース */
}

.flash-message {
    margin: 20px;
}

.container {
    margin-top: 20px;
    /* コンテンツの上部余白 */
}

/* 不要な要素の非表示 */
.profiler-number {
    display: none;
}

*/